$font-stack: 'Noto Sans JP', sans-serif;
$primary-color: #94e2ff;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font: 100% $font-stack;
}

.title{
    font: $font-stack;
}

.hero{
    background-color: $primary-color;
    #heroName{
        font-size: 4.5em;
        color: white;
        text-shadow: 2px 2px lightgrey;
    }
    #heroSubtitle{
        font-size: 2.5em;
        margin-bottom: 3em;
        color: white;
        text-shadow: 2px 3px lightgrey;
    }
}

#snork{
    border-radius: 50%;
    border-style: solid;
    display: block;
    margin: auto;
}
#bioHead{
    font-size: 2em;
    margin-bottom: 10px;
}

#additionalInfo{
    border-style: solid; 
    border-radius: 50px;
    border-color: transparent;
    background-color: $primary-color;
    color: white;
    padding: 30px;
    h1{
        text-align: center;
        margin-top: 20px;
        color: white;
    }
    h2{
        color: white;
        text-align: left;
    }
}